{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Modules</h1>
</div>


<ol type = "1">
  <h3><li>Counters</li></h3>
  <ul>
    <h4><li><a href="{{ url_for('upcounter_form') }}">Up Counter</a></li></h4>
    <h4><li>Down Counter</li></h4>
    <h4><li>Johnson Counter</li></h4>
    <h4><li>Johnson Counter</li></h4>
  </ul>
  <h3><li>Registers</li></h3>
  <h3><li>Flip Flops</li></h3>
  <h3><li>Floating Point Arithmetic Operation Units</li></h3>
  <h3><li>FSM Sequence Detectors</li></h3>
  
  <!-- <li>Australia</li>
  <li>South Africa</li>
  <li>New Zealand</li>
  <li>Pakistan</li>
  <li>Srilanka</li>
  <li>West Indies</li>
  <li>Bangladesh</li> -->
</ol>

{% endblock %}
