{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Modules</h1>
</div>


<ol type = "1">
  <h3><li>Counters</li></h3>
  <ul>
    <h4><li><a href="{{ url_for('upcounter_form') }}">Up Counter</a></li></h4>
    <h4><li><a href="{{ url_for('down_counter_form') }}">Down Counter</a></li></h4>
    <h4><li><a href="{{ url_for('johnson_counter_form') }}">Johnson Counter</a></li></h4>
    <h4><li><a href="{{ url_for('ring_counter_form') }}">Ring Counter</a></li></h4>
    <h4><li><a href="{{ url_for('custom_counter_form') }}">Custom Counter</a></li></h4>
  </ul>
  <h3><li>Registers</li></h3>
  <ul>
    <h4><li><a href="{{ url_for('siso_form') }}">SISO</a></li></h4>
    <h4><li><a href="{{ url_for('pipo_form') }}">PISO</a></li></h4>
    <h4><li><a href="{{ url_for('pipo_form') }}">PIPO</a></li></h4>
    <h4><li><a href="{{ url_for ('shift_register_form') }}">Shift Registers</a></li></h4>
    <h4><li><a href="{{ url_for('circular_register_form') }}">Circular Registers</a></li></h4>
  </ul>
  <h3><li>Flip Flops</li></h3>
  <ul>
    <h4><li><a href="{{ url_for('d_flipflop') }}">D Flip Flop</a></li></h4>
    <h4><li><a href="{{ url_for('jk_flipflop') }}">JK Flip Flop</a></li></h4>
    <h4><li><a href="{{ url_for('sr_flipflop') }}">SR Flip Flop</a></li></h4>
    <h4><li><a href="{{ url_for('t_flipflop') }}">T Flip Flop</a></li></h4>
  </ul>
  <h3><li>Floating Point Arithmetic Operation Units</li></h3>
  <h3><li>FSM Sequence Detectors</li></h3>
  
  <!-- <li>Australia</li>
  <li>South Africa</li>
  <li>New Zealand</li>
  <li>Pakistan</li>
  <li>Srilanka</li>
  <li>West Indies</li>
  <li>Bangladesh</li> -->
</ol>

{% endblock %}
