{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block content %}

<div class="page-header">
  <h1>Ring Counter</h1>
</div>

<form action="{{ url_for('ring_counter') }}" method = "POST">
  <label for="fname">No. of bits:</label><br>
  <input type="text" id="bits" name="bits" value="" required><br>
  <!-- <label for="lname">Starting Point:</label><br>
  <input type="text" id="spoint" name="spoint" value="" required><br>
  <label for="lname">Ending Point:</label><br>
  <input type="text" id="epoint" name="epoint" value="" required><br><br>
  
 <label for="cars">Choose a type of implementation:</label>
<select name="implementation" id="implementation">
  <option value="behavioral">Behavioral</option>
  <option value="structural">Structural</option> 

</select>-->
<br>  
 <input type="submit" value="Submit"> 
</form>
{% endblock %}
