{% extends 'layouts/main.html' %}
{% block title %}Shift Register Code{% endblock %}
{% block content %}

<!--<div class="page-header">
  <h1>Left Shift Register </h1>
</div> -->

{% if result.ShiftRegister___type=='ShiftRegister___left' %}


<div class="page-header">
  <h1>Left Shift Register </h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Module</h2>
    <p>module shiftregister(D,load,w,clk,Q);<br><br>parameter n = {{result.bits}};<br><br>input [n-1:0] D;<br><br>input
      load,w,clk;<br><br>output reg [n-1:0] Q;<br><br>integer i;<br><br>always @(posedge clk)<br><br>if (load)<br><br>Q
      &lt;= D;<br><br>else begin<br><br>Q[0]&lt;=w;<br><br>for
      (i=1;i&lt;n;i=i+1)<br><br>Q[i]&lt;=Q[i-1];<br><br>end<br><br>endmodule</p>
  </div>
  <div class="col-sm-6">
    <h2>Test Bench</h2>

    <p>module SR_tb;<br>reg [{{(result.bits | int)-1}}:0] D;<br>reg load,w,clk;<br>wire [{{(result.bits | int)-1}}:0]
      Q;<br>shiftregister
      Instance(D,load,w,clk,Q);<br>initial clk = 0;<br><br>always #5 clk=~clk;<br>initial
      begin<br>$dumpfile(&quot;dump.vcd&quot;);<br>$dumpvars(0);<br>
      D = {{result.bits}}&apos;b{% for i in range(result.bits |int)%}1{% endfor %};<br><br>#10 load = 1;<br>#20 load
      = 0;<br>w = 0;<br><br>#1 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b
      clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b
      D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display
      (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5
      $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D,
      clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q,
      D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;,
      Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b
      clk:%b&quot;, Q, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, Q, D, clk);<br>end<br><br>endmodule</p>
  </div>
</div>


<hr>


{% elif result.ShiftRegister___type=='ShiftRegister___right' %}

<div class="page-header">
  <h1>Right Shift Register </h1>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>module shiftregister(D,load,w,clk,R);<br><br>parameter n = {{result.bits}};<br><br>input [n-1:0] D;<br><br>input
      load,w,clk;<br><br>output reg [n-1:0] R;<br><br>integer k;<br><br>always @(posedge clk)<br><br>if (load)<br><br>R
      &lt;= D;<br><br>else begin<br><br>for
      (k=0;k&lt;n-1;k=k+1)<br><br>R[k]&lt;=R[k+1];<br><br>R[n-1]&lt;=w;<br><br>end<br><br>endmodule</p>

  </div>
  <div class="col-sm-6">
    <h2>Test Bench</h2>
    <p>module SR_tb;<br>reg [{{(result.bits | int)-1}}:0] D;<br>reg load,w,clk;<br>wire [{{(result.bits | int)-1}}:0] R;<br>shiftregister
      Instance(D,load,w,clk,R);<br>initial clk = 0;<br><br>always #5 clk=~clk;<br>initial
      begin<br>$dumpfile(&quot;dump.vcd&quot;);<br>$dumpvars(0);
      
      <br>D = {{result.bits}}&apos;b{% for i in range(result.bits |int)%}1{% endfor %};<br>
      <br>#10 load = 1;<br>#20 load
      = 0;<br>w = 0;<br><br>#1 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b
      clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b
      D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display
      (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5
      $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D,
      clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R,
      D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;,
      R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b
      clk:%b&quot;, R, D, clk);<br>#5 $display (&quot;Q:%b D:%b clk:%b&quot;, R, D, clk);<br>end<br><br>endmodule</p>
  </div>
</div>

{% endif %}



{% endblock %}