{% extends 'layouts/main.html' %}
{% block title %}SISO Register Code{% endblock %}
{% block content %}

<div class="page-header">
  <h1>SISO</h1>
</div>

<div class="row">
  <div class="col-sm-6">
    <h2>Module</h2>
<p>module SISO_register(output_seq,input_seq,clk,reset);</p>
<p>&nbsp; parameter n={{result.bits}};</p>
<p>&nbsp; input [n-1:0] input_seq;</p>
<p>&nbsp; input clk,reset;</p>
<p>&nbsp; output reg [n-1:0] output_seq;</p>
<p>&nbsp; integer i,j=0;</p>
<p>&nbsp; wire input_temp;</p>
<p>&nbsp; always @ (posedge clk) begin</p>
<p>&nbsp; &nbsp; if (reset)</p>
<p>&nbsp; &nbsp; &nbsp; output_seq &lt;= 0;</p>
<p>&nbsp; &nbsp; else&nbsp;</p>
<p>&nbsp; &nbsp; &nbsp; begin</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; if (j&lt;n) begin</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; output_seq &lt;= {output_seq[n-2:0],input_seq[j]};</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; j = j+1;</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; end</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp;<span style="white-space:pre;">&nbsp; &nbsp;&nbsp;</span>else</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; output_seq &lt;= {output_seq[n-2:0],1&apos;b0};</p>
<p>&nbsp; &nbsp; &nbsp; end</p>
<p>&nbsp; end</p>
<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
<p>endmodule</p>
  </div>
  <div class="col-sm-6">
    <h2>Test Bench</h2>
    <p>module test;</p>
<p><br></p>
<p>&nbsp; reg [{{(result.bits | int)-1}}:0] input_seq;</p>
<p>&nbsp; wire [{{(result.bits | int)-1}}:0] output_seq; // it must be wire for testbench</p>
<p>&nbsp; reg reset;</p>
<p>&nbsp; reg clk;</p>
<p><br></p>
<p>&nbsp; SISO_register siso (output_seq,input_seq,clk,reset);</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp; initial begin</p>
<p>&nbsp; &nbsp; $dumpfile(&quot;dump.vcd&quot;);</p>
<p>&nbsp; &nbsp; $dumpvars(1);</p>
<p>&nbsp; &nbsp; clk = 0;</p>
<p>&nbsp; &nbsp; reset = 0;</p>
<p>&nbsp; &nbsp; #10 reset = 1;</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; #10 reset = 0;input_seq = {{result.bits}}&apos;b{% for i in range(result.bits | int) %}1{% endfor %};</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; #20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; #20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; #20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20$display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; &nbsp; #20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; #20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp; &nbsp;#20 $display(&quot;output:%b&quot;, output_seq);</p>
<p>&nbsp; &nbsp;&nbsp;</p>
<p>&nbsp; end</p>
<p>&nbsp;&nbsp;</p>
<p>&nbsp; always #10 clk = ~clk;</p>
<p><br></p>
<p>endmodule</p>

  </div>
</div>




{% endblock %}
